@{
    ViewBag.Title = "Home Page";
}


<div id="HomeContainer">
    <div data-bind="template: { name: 'Menu' }"></div>
</div>

<script type="text/javascript" src="@Url.Content("/Scripts/vm/home.index.js")"></script>