<script id="Menu" type="text/html">
    <div id="dl-menu" class="dl-menuwrapper">
        <button class="dl-trigger">Open Menu</button>

        <ul class="dl-menu" data-bind="template: { name: 'menuItemSub', foreach: $data }">
        </ul>
    </div>
</script>

<script id="menuItemSub" type="text/html"> 
 <li>
    <a href="#" data-bind="text: Title"></a>
     <!-- ko if: $data.SubMenu.length > 0 -->
     <ul class="dl-submenu" data-bind="template: { name: 'menuItemSub', foreach: $data.SubMenu }"></ul>
     <!-- /ko -->
 </li>
</script>
